<!-- Navbar -->
<nav class="bg-sky-600 p-4 text-white">
    <div class="container mx-auto flex items-center justify-between max-w-3xl">
        <h1 class="text-3xl font-bold">استخراج متن از یوتیوب</h1>
        <div>
            {% if request.user.is_authenticated %}
            <a href="#" class="rounded-lg bg-teal-600 px-4 py-2 shadow-md hover:bg-teal-700 inline-block m-2">پنل کاربری</a>
            <a href="{% url 'accounts:logout' %}" class="rounded-lg bg-teal-600 px-4 py-2 shadow-md hover:bg-teal-700 inline-block m-2">خروج</a>
            {% else %}
            <a href="{% url 'accounts:login' %}" class="rounded-lg bg-teal-600 px-4 py-2 shadow-md hover:bg-teal-700 inline-block m-2">ورود</a>
            {% endif %}
        </div>
    </div>
</nav>
{% include 'partials/messages.html' %}